*{
    margin: 0px;
    padding: 0px;
}
html,
body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.row{
    width: 100%;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    align-items: center;
    border-radius: 10px;
}


input{
    display: block;
    width: 100%;
    height: 36px;
    margin-top: 4px;
    border-radius: 10px;
    outline: none;
    text-align: center;
}
.btn{
    margin-left: 2px;
}

span{
    display: flex;
    flex-flow: row wrap;
}


.mb{
    margin-bottom: 100px;
}
.padding{
    padding: 10px;
}
.padding-2{
    padding: 20px;
}

main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    section{
        h2{
            margin-bottom: 50px;
        }
    }
}

@media (max-width:700px){
    .box{
        width: 95%;
        display: flex;
        justify-content: center;
        background-color: aquamarine;
        align-items: center;
    }
    p{
        max-width: 95%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    header{
        text-align: center;
    }

    section:last-of-type{
        h2{
            margin-top: 50px;
        }
    }
}
